.smallText {
  font-size: 18px;
}

.imageBackground {
  background: white;
  padding:32px;
  border-radius:16px;
}

.slideTextBackground {
  background: white;
  opacity:0.6;
  padding:32px;
  border-radius:16px;
}
