.smallText {
  font-size: 18px;
}

.imageBackground {
  background: white;
  padding:32px;
  border-radius:16px;
}

.slideTextBackground {
  background: white;
  opacity:0.6;
  padding:32px;
  border-radius:16px;
}

.pinkBackground {
  background: #f2e6e6;
}

.blueHeadingColor {
  background: #1261A0;
}

.blueSubHeadingColor {
  background: #58CCED;
}

.myMD {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  border-bottom-color: rgb(234, 236, 239);
  border-bottom-style: solid;
  border-bottom-width:
}
